:root{
    --tamanho-da-coluna:10vh;
    --comprimento-da-coluna:85%;
}
.conta{
    width: 100%;
    height: 71vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.conta-container{
    width: 100%;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12vw;
}
.botao-container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* background-color: green; */
    gap: 5vw;
    
}

/* ESQUERDA DESKTOP */
.esquerda{
    height: 50vh;
    width: 30vh;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.esquerda img{
    width: 30vh;
    height: 30vh;
}
.alterar-foto{
    color: gray;
    background-color: rgba(240, 255, 255, 0);
    border: 2px solid gray;
    border-radius: 20px;
}
.sair-conta{
    border-style: none;
    background-color: rgba(128, 128, 128, 0);
    
}.sair-conta a{
    color: gray;
   
}

/* DIREITA DESKTOP */
.direita{
    margin-top: 4vh;
    height: 55vh;
    width: 105vh;
    border:2px solid rgba(128, 128, 128, 0.571) ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    /* background-color: red;*/
}
.coluna1,.coluna2,.coluna3,.coluna4{
    width:var(--comprimento-da-coluna);
    height: var(--tamanho-da-coluna);
    /* background-color: red; */
}

.nome,.telefone,.endereco,.numero-casa,.complemento,.bairro,.cidade,.uf,.senha,.email{
    display: flex;
    flex-direction: column;
}
.nome-cont,.telefone-cont,.dados6-cont,.ultimo-dado-cont{
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}
.texto-da-coluna{
    font-size: 1.2em;
    color: #8C8D94;
}
.dados-da-coluna{
    font-size: 0.9em;
    color: #8c8d9494;
}
.editar-perfil{
    padding: 2.4px;
    /* border-color: #63ACF0; */
    border-style: solid;
    border-color: #63ACF0;
    border-radius: 5px;
    border-width: 1.7px;
    margin-top: 3vh;
    
}
.editar-perfil-botao{
    text-decoration: none;
    border: none;
    background-color: #63ACF0;
    color: white;
    border-radius: 5px;
    padding: 1.5vh;
}
.remover-perfil{
    margin-right: 30vw;
    margin-top: 2.5vh;
    border: none;
    background-color: rgba(0, 0, 255, 0);
    
}
.remover-perfil a{
    color: red;
    text-decoration:underline;
}