
/* DESKTOP */
@media screen and (min-width: 576px){
    
    /* RODAPE */
    .rodape-corpo{
        height: 20vh;
        background-color: var(--corfundo);
        bottom:0;
        left:0;
        display: flex;
        flex-direction: row;
    }

    .rodape-atendimento{
        margin: 2.5vh;
        font-size: 80%;
        margin-left: 11vh;
        display: flex;
        gap: 30vh;
    }

    .rodape-atendimento h1{
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 1vh;
    }

    .r-p{
        margin-left: 2vh;
        text-decoration: none;
        color: black;
    }

    .rodape-redes h1{
        font-size: 1.4rem;
        font-weight: bold;
    }

    .rodape-redes-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape-img{
        gap: 2vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

      .rodape-img a img{
        height: 4vh;
        width: 4vh;
      }

    .rodape-corpo-2{
        background-color: var(--corfundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rodape-pagamentos{
        font-size: 1.4rem;
        font-weight: bold;
        margin-block-end: 1vh;
    }

    .rodape-corpo-2 img{
        height: 4vh;
        width: 11vh;
        margin-block-end: 4.5vh;
    }

    .rodape-linha{
        height: 0.3px;
        width: 16vh;
        background-color: rgb(0, 0, 0);
        margin-block-end: 8px;
    }

    .linha-rodape-1{
        margin-top: 15vh;
        height: 0.2vh;
        width: 100%;
        background-color: black;
    }

    .linha-rodape{
        height: 0.2vh;
        width: 100%;
        background-color: black;
    }

    .rodape-direitos{
        height: 2vh;
        width: 100%;
        font-size: 0.7rem;
        margin-left: 3vh;
    }

    .rodape-corpo-3{
        height: 16vh;
        background-color: var(--corfundo);
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }
    .rodape-envio-sedex{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .rodape-envio{
        font-size: 1.4rem;
        margin-top: 1.3vh;
        font-weight: bold;
    }

    .img-rodape-1{
        height: 3vh;
        width: 15vh;
    }

    .img-rodape-2{
        height: 1.5vh;
        width: 6vh;

    }
    .img-rodape-3{
        height: 2vh;
        width: 6vh;
        margin-top: 0.3vh;
    }
    .rodape-segundo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30vh;
    }

    .rodape-principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30vh;
        background-color: var(--corfundo);
    }
      /* FECHA RODAPE */
}

@media screen and (max-width: 576px){

    /* RODAPE MOBILE */
    .rodape-corpo{
        width: 100%;
        background-color: var(--corfundo);
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    .rodape-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--corfundo);
    }

    .rodape-atendimento{
        margin: 1vh;
        font-size: 80%;
    }

    .rodape-atendimento h1{
        font-size: 135%;
        font-weight: bold;
    }

    .r-p{
        text-decoration: none;
        color: black;
    }

    .rodape-redes-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rodape-redes{
        font-size: 100%;
        margin-top: 5vh;
    }

    .rodape-redes h1{
        font-size: 135%;
        font-weight: bold;
    }

    .rodape-img{
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-block-end: 1vh;
    }

    .rodape-img a img{
        height: 3.4vh;
        width: 3.4vh;
    }

    .rodape-corpo-2{
        width: 100%;
        background-color: var(--corfundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rodape-pagamentos{
        font-size: 110%;
        margin-top: 3vh;
        margin-block-end: 0.5vh;
    }

    .rodape-corpo-2 img{
        height: 3.5vh;
        width: 10vh;
        margin-block-end: 1vh;
    }

    .rodape-linha{
        height: 0.1px;
        width: 16vh;
        background-color: rgb(0, 0, 0);
        margin-block-end: 8px;
    }

    .linha-rodape-1{
        margin-top: 10vh;
        height: 0.1vh;
        width: 100%;
        background-color: black;
    }

    .linha-rodape{
        height: 0.1vh;
        width: 100%;
        background-color: black;
    }

    .rodape-direitos{
        height: 0.9vh;
        width: 100%;
        font-size: 50%;
        text-align: center;
    }

    .rodape-corpo-3{
        height: 15vh;
        width: 100%;
        background-color: var(--corfundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rodape-envio{
        font-size: 115%;
    }

    .img-rodape-1{
        height: 2.5vh;
        width: 13vh;
    }

    .img-rodape-2{
        height: 1vh;
        width: 5vh;
    }
      
    .img-rodape-3{
        height: 1.3vh;
        width: 5vh;
    }

    .alinha-noob{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

      /* FECHA RODAPE MOBILE */

}