*{
    margin: 0%;
}

:root{
    --primaria:#FFD2E0;
    --corfonte: #505050 ;
}









/* ------ */

header{
    background-color: #FFD2E0;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encomendas{
    color:#505050 ;
    font-size: 32px;
    text-decoration: none;
    font-family:arial,light,italic;
}
.barra-pesquisa{
    text-decoration: none;
    decoration:none ;
    border-radius:13px ;
    height: 50px;
    width: 626px;
    border: none;
}

@media screen and (max-width: 576px){
    header{
        background-color: #FFD2E0;
        height: 160px;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        gap: 2px;
    }
    .encomendas{
        color:#545454 ;
        font-size: 16px;
        text-decoration: none;
        font-family:arial,light,italic;
        margin: 10px;
        
    }.encomendas:hover{}
    
    
    .barra-pesquisa{
        text-decoration: none;
        decoration:none ;
        border-radius: 7px;
        height: 16%;
        width: 48%;
        border: none;
    
    }
    .barra-pesquisa:active{
        text-decoration: none;
        border-style: none;
        
    }
    .logo{
        margin: 0px 130px 0px 130px;

    }
    .carrinho{
        padding: 0;
        width: 25px;
    }
    hr{
        margin: 0;
        padding: 0;
    }
    .menu{
        height: 10%;
        width: 100%;
        background-color: #FFD2E0;
        
    }
    .dropdown{
        padding: 5px 5px 5px 15px;
    }.selecao{
        height: 3%;
        font-size: 15px;
       
        font-weight:bold ;
    }
    .categorias ul{
        display: none;
    }
    .categorias:focus ul{
        display: block;
      }
    ul ul li {
        display: block;
      }
      .dropdown-item li a{
        margin-left: 5px;
      }
}    