*{
    margin: 0%;
}
header{
    background-color: #FFD2E0;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encomendas{
    color:#505050 ;
    font-size: 32px;
    text-decoration: none;
    font-family:arial,light,italic;
}
.barra-pesquisa{
    text-decoration: none;
    decoration:none ;
    border-radius:13px ;
    height: 50px;
    width: 626px;
    border: none;
}

@media screen and (max-width: 576px){
    header{
        background-color: #FFD2E0;
        height: 160px;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        gap: 2px;
    }
    .encomendas{
        color:#545454 ;
        font-size: 18px;
        text-decoration: none;
        font-family:arial,light,italic;
        margin: 10px;
        
    }.encomendas:hover{}
    
    
    .barra-pesquisa{
        text-decoration: none;
        decoration:none ;
        border-radius: 8px;
        height: 15%;
        width: 40%;
        border: none;
    }
    .logo{
        margin: 0px 130px 0px 130px;

    }
    .carrinho{
        padding: 0;
        width: 30px;
    }
}    